{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to TaskNest</h1>
    <p class="lead">Your personal task management solution</p>
    <hr class="my-4">
    {% if current_user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="{{ url_for('tasks.tasks') }}" role="button">Go to My Tasks</a>
    {% else %}
        <a class="btn btn-primary btn-lg mr-2" href="{{ url_for('auth.login') }}" role="button">Login</a>
        <a class="btn btn-success btn-lg" href="{{ url_for('auth.register') }}" role="button">Register</a>
    {% endif %}
</div>
{% endblock %}